# This uses mod_rewrite. https://www.digitalocean.com/community/tutorials/how-to-set-up-mod_rewrite

RewriteEngine on

# Provides access to files in static folder (but not directories)
## Only matches if NOT directory
RewriteCond %{REQUEST_FILENAME} !-d
## Only matches if valid file
RewriteCond %{REQUEST_FILENAME} -f
## Allows access
RewriteRule ^static - [L,NC]

# Provides access to session and interface php files
RewriteRule ^session(|\.php)$ session.php [L,NC]
RewriteRule ^interface(|\.php)$ interface.php [L,NC]

# Redirects everything else to index
RewriteRule . index.php [L]
