# This uses mod_rewrite. https://www.digitalocean.com/community/tutorials/how-to-set-up-mod_rewrite

RewriteEngine on

# Provides access to files in static folder, unchanged
## only applies to valid files
RewriteCond %{REQUEST_FILENAME} -f
## sends request unchanged
RewriteRule ^(static|upload)\/ - [L]

# Redirect "/interface/example" URLs to "/interface/example.php"
## do not redirect if this points to a directory
RewriteCond %{REQUEST_FILENAME} !-d
## as this is rewriting the path, it will start again from the top then go to the next rule
RewriteRule ^interface\/(.*?)(\.php)?$ interface/$1.php [NC]

# Catches valid interface requests and serves them.
## must be valid file
RewriteCond %{REQUEST_FILENAME} -f
## sends request unchanged
RewriteRule ^interface\/ - [L,NC]

# Redirects everything not caught by earlier rules to index
RewriteRule . index.php