.settings__label {
	margin: 16px 0 4px;
}
.settings__subtext {
	font-size: 12px;
}
.settings__notice {
	display: block;
	padding: 10px;
	border: 1px solid var(--border-light);
	margin: 10px 0;
	width: max-content;
}
.settings__notice::before {
	content: "?";
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid var(--text-regular);
	border-radius: 50%;
	margin-right: 5px;
	line-height: 1.5em;
	font-weight: 600;
	text-align: center;
}

.settings__button-list {
	display: flex;
	margin: 10px 0;
}
.settings__button + .settings__button {
	margin-left: 8px;
}

.settings__aside {
	width: 40%;
	padding: 10px;
	border: 1px solid var(--border-medium);
	float: right;
}

.active-sessions {
	width: 100%;
	border: 2px solid var(--border-light);
	border-collapse: collapse;
}

.active-sessions__row {
	
}

.active-sessions__cell {
	padding: 6px;
	border: 2px solid var(--border-light);
	text-align: left;
}
.active-sessions__cell--header {
	font-weight: 400;
}
.active-sessions__cell--content {
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
}