.thread-reply {
	display: flex;
	padding: 10px;
	background: var(--backing-content);
	justify-content: left;
} .thread-reply ~ .thread-reply {
	border-top: 2px solid var(--border-light);
}

.thread-reply__deleted {
	font-size: 12px;
	font-style: italic;
}

.thread-reply__info {
	width: 20%;
	padding-right: 10px;
	border-right: 2px solid var(--border-light);
	flex: 0 0 auto;
}
.thread-reply__username {
	display: block;
	margin-bottom: 6px;
	font-weight: 600;
}
.thread-reply__info-line:not(:last-of-type) {
	display: block;
	margin-bottom: 6px;
}

.thread-reply__content {
	padding-left: 10px;
	flex: 1 1 auto;
}

.thread-reply__text {
	margin: 0;
}

.thread-reply__edit-body {
	width: 66%;
	resize: vertical;
}

.thread-reply__actions {
	display: flex;
	margin: 6px 0 0;
}

.thread-reply__action ~ .thread-reply__action {
	margin-left: 8px;
}


.is-truncated {
	max-height: 500px;
	overflow: hidden;
}

.c-truncate {
	position: relative;
}

.c-truncate__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 70px;
	background: linear-gradient(to top, var(--backing-content), transparent);
}

.is-hidden {
	display: none;
}