.login-form {
	position: relative;
	display: flex;
	width: 340px;
	padding: 0 20px;
	background: var(--backing-1);
	border-radius: var(--rounding);
	flex-flow: column nowrap;
	margin: 0 auto;
}

.login-form label {
	display: inline-block;
	width: 49%;
}

.login-form input {
	display: inline-block;
	width: 49%;
	padding: 5px;
	margin: 5px 0;
	background: var(--backing-2);
	border-radius: var(--rounding);
	border: 1px solid var(--border);
	color: var(--text);
}

.login-form .button {
	margin: 20px 0;
}

.login-prompt {
	width: 340px;
	padding: 10px;
	background: var(--backing-1);
	border-radius: var(--rounding);
	margin: 15px auto 0;
}

.reqs {
	position: absolute;
	top: 0;
	left: 110%;
	width: 250px;
	padding: 10px;
	background: var(--backing-1);
	pointer-events: none;
	opacity: 0;
	transform: translateY(22px);
	transition:
		opacity   0.3s ease,
		transform 0.4s ease;
}

input:focus + .reqs {
	opacity: 1;
	transform: translateY(0);
}