/*===========================================================================*\
|* STYLE GUIDE                                                               *|
|*                                                                           *|
|* GENERIC INFORMATION                                                       *|
|* This website uses BEM.                                                    *|
|* getbem.com/                                                               *|
|*                                                                           *|
|* CLASS PREFIXES:                                                           *|
|* Much of this is taken from:                                               *|
|* www.smashingmagazine.com/2016/06/                                         *|
|*   battling-bem-extended-edition-common-problems-and-how-to-avoid-them/    *|
|* -----|----------------------------------------                            *|
|* c-   | Form the backbone of an application and contain all of the         *|
|*      |   cosmetics for a standalone component.                            *|
|* l-   | Layouts with no cosmetics and purely used for structure.           *|
|* u-   | Utility classes with a single function, often using !important.    *|
|* is-  | Indicate different states that a c- component can have.            *|
|* has- | ditto                                                              *|
|* js-  | These indicate that JavaScript behavior is attached to a component.*|
|*      |   No styles should be associated.                                  *|
|* t-   | Themes that affect many cosmetic parts of other elements.          *|
\*===========================================================================*/


/* Variables */

:root {
	--rounding: 3px;
	--shadow-10: rgba(0,0,0);
	--shadow-7: rgba(0,0,0,0.7);
	--shadow-5: rgba(0,0,0,0.5);
	--shadow-3: rgba(0,0,0,0.3);
	--shadow-1: rgba(0,0,0,0.1);
	
	--identity: hsl(0, 57%, 50%);
}

.t-dark {
	--backing-page: hsl(0, 10%, 11%);
	--backing-head: hsl(0, 30%, 5%);
	--backing-footer: hsl(0, 10%, 7%);
	--backing-content: hsl(0, 10%, 17%);
	--backing-subcontent: hsl(0, 10%, 7%);
	--backing-button:  hsl(0, 10%, 21%);
	--backing-negative:  rgb(90, 25, 25);
	--backing-input: hsl(0, 30%, 15%);

	--border-light: hsl(0, 10%, 20%);
	--border-medium: hsl(0, 7%, 30%);
	--border-head: hsl(0, 90%, 20%);
	--border-active: hsl(0, 39%, 44%);
	
	--text-regular: hsl(0, 0%, 75%);
	--text-medium: hsl(0, 0%, 69%);
	--text-light: hsl(0, 0%, 60%);
	--text-active: var(--accent-1);
	
	--accent-1: hsl(0, 100%, 60%);
	--accent-pastel: hsl(0, 72%, 76%);
}

.t-light {
	--backing-page: hsl(0, 0%, 94%);
	--backing-head: hsl(0, 0%, 100%);
	--backing-footer: hsl(0, 0%, 88%);
	--backing-content: hsl(0, 0%, 100%);
	--backing-subcontent: hsl(0, 0%, 88%);
	--backing-button: hsl(0, 0%, 88%);
	--backing-negative: hsl(0, 92%, 60%);
	--backing-input: hsl(0, 30%, 97%);
	
	--border-light: hsl(0, 0%, 90%);
	--border-medium: hsl(0, 0%, 80%);
	--border-head: hsl(0, 30%, 97%);
	--border-active: var(--accent-1);
	
	--text-regular: hsl(0, 0%, 5%);
	--text-medium: hsl(0, 0%, 25%);
	--text-light: hsl(0, 0%, 40%);
	--text-active: var(--accent-1);
	
	--accent-1: hsl(0, 100%, 60%);
	--accent-pastel: hsl(0, 30%, 70%);
}

.t-blackout {
	--backing-page: #000;
	--text-regular: #fff;
}

.t-contrast {
	--backing-page: #fff;
	--text-regular: #000;
}

/* GLOBALS */
/* Yes, I am using !important. Sue me */

.global__accessibility-text {
	font-size: 0 !important;
}

.global__display-none {
	display: none !important;
}

.u-readable-line-height {
	line-height: 1.35;
}

/* Generic Items */

html {
	box-sizing: border-box;
} *, *:before, *:after {
	box-sizing: inherit;
}

* {
	scrollbar-color: var(--accent-pastel) var(--backing-content);
}

a {
	color: var(--text-regular);
	text-decoration: none;
	transition: color 0.08s ease;
	cursor: pointer;
} a:hover {
	color: var(--text-active);
	text-decoration: none;
}

.u-bold {
	font-weight: 600 !important;
}

.u-text-center {
	text-align: center !important;
}

.u-hidden {
	display: none !important;
}

.long-text {
	margin: 0;
	line-height: 1.35;
}
.long-text__link,
.long-text__link:hover {
	text-decoration: underline;
}


.c-heading {
	margin: 0 0 15px;
	font-size: 18px;
	font-weight: 600;
}


.c-simple__row {
	display: flex;
}
.c-simple__section {
	background: var(--backing-content);
	padding: 10px;
	flex: 0 1 auto;
}


.c-heading-minor {
	margin: 0 0 10px;
	font-size: 16px;
	font-weight: 600;
}


.c-links-list {
	display: block;
}
.c-links-list--emphasis {
	font-size: 16px;
}
.c-links-list__link {
	display: block;
	width: fit-content;
	line-height: 1.3em;
}
.c-links-list__link--one-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



.l-leave-a-gap ~ .l-leave-a-gap {
	margin-top: 20px;
}

/* .l-v-blocks-w-gap {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	gap: 10px;
} */



.l-rows {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 10px;
}



.l-card-layout {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	gap: 10px;
}


.l-columns {
	display: flex;
	flex-flow: row nowrap;
}
.l-columns__column {
	display: flex;
	width: 25%;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	gap: 10px;
}
.l-columns__column--thin {
	width: 200px;
	flex: 0 0 auto;
}
.l-columns__column--medium {
	width: 500px;
	flex-grow: 0;
}
.l-columns__column--large {
	width: 500px;
	flex: 2 0 auto;
}
.l-columns__column ~ .l-columns__column {
	margin-left: 15px;
}

.l-columns__section {
	width: 100%;
}



.c-module {
	padding: 10px;
	background: var(--backing-content);
	border-radius: var(--rounding);
	box-shadow: 0 3px 3px var(--shadow-1);
}
.c-module--spacious {
	padding: 20px;
}


.l-button-list {
	display: flex;
	flex-flow: row wrap;
}
.l-button-list--right {
	justify-content: right;
}
.l-button-list--center {
	justify-content: center;
}
.l-button-list__button + .l-button-list__button {
	margin-left: 5px;
}


.button {
	display: block;
	background: var(--backing-button);
	padding: 3px 7px;
	border: 1px solid var(--backing-button);
	border-radius: var(--rounding);
	color: var(--text-regular);
	font-size: 15px;
	line-height: initial;
	font-family: inherit;
	cursor: pointer;
	transition: opacity 0.1s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.button:hover {
	color: var(--text-regular);
	opacity: 0.7;
}
.button:focus, .button:active {
	outline: none;
	border-color: var(--border-active);
}
.button--small {
	padding: 3px 6px;
	font-size: 12px;
}
.button--medium {
	padding: 6px 12px;
	font-size: 17px;
}
.button--large {
	padding: 8px 16px;
	font-size: 18px;
	font-weight: 600;
}
.button--calltoaction, .button--calltoaction:hover {
	background: var(--accent-1);
	color: var(--backing-content);
}
.button--negative {
	background: var(--backing-negative);
}
.button--disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
	/*overriding browser styles*/
	color: var(--text-regular); 
}
.button--spaced {
	margin: 16px 0 4px;
}
.button--unimportant {
	background: none;
}


.c-text-button {
	display: inline;
	border: none;
	padding: 0;
	background: none;
	margin: 0;
	color: inherit;
	font: inherit;
	transition: color 0.08s ease;
	cursor: pointer;
}
.c-text-button:hover {
	color: var(--text-active);
}



/* FORMS */

.label {
	display: block;
	margin: 5px 0;
	color: var(--text-medium);
	font-size: 14px;
	font-weight: 600;
}
.label ~ .label {
	margin-top: 16px;
}
.label--disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.label__desc {
	font-size: 12px;
}

.text-input {
	display: block;
	width: 100%;
	max-width: 100%;
	min-height: 4em;
	padding: 5px;
	background-color: var(--backing-subcontent);
	border: 1px solid var(--border-light);
	border-radius: var(--rounding);
	color: var(--text-regular);
	resize: none;
}
.text-input--resizable {
	resize: both;
}
.text-input--resizable-h {
	resize: horizontal;
}
.text-input--resizable-v {
	resize: vertical;
}
.text-input:focus {
	border-color: var(--border-active);
	outline: none;
}

.select {
	display: block;
	min-width: 100px;
	max-width: 100%;
	height: 24px;
	background-color: var(--backing-subcontent);
	border: 1px solid var(--border-light);
	border-radius: var(--rounding);
	margin: 5px 0;
	color: var(--text);
}
.select:focus {
	border-color: var(--border-active);
	outline: none;
}

.input {
	display: block;
	width: 250px;
	max-width: 100%;
	height: 24px;
	padding: 5px;
	background-color: var(--backing-subcontent);
	border: 1px solid var(--border-light);
	border-radius: var(--rounding);
	margin: 5px 0;
	color: var(--text-regular);
}
.input--thin {
	width: 100px;
}
.input--auto {
	width: auto;
}
.input--wide {
	width: 400px;
}
.input--disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}
.input:focus {
	border-color: var(--border-active);
	outline: none;
}

.checkbox-group {
}

.checkbox-group__item {
	display: block;
}

.subtext {
	font-size: 12px;
}

/* Containers */

html {
	position: relative;
	height: 100%;
	color: var(--text-regular);
	font: 14px/1 Montserrat, Arial, sans-serif;
}

.page {
	display: flex;
	flex-flow: column nowrap;
	min-width: 600px;
	min-height: 100%;
	background: var(--backing-page);
	padding: 70px 0 0;
	margin: 0;
}
.page--frame {
	background: none;
	padding-top: 0;
}

.wrapper {
	position: relative;
	width: 100%;
	min-width: 850px;
}
.wrapper--site-nav {
	position: fixed;
	top: 0;
	z-index: 100;
	height: 70px;
	background: var(--backing-head);
	transition: height 0.2s cubic-bezier(.17,.67,.56,.99);
}
.wrapper--site-nav.js-fixed {
	height: 52px;
}
.wrapper--content {
	padding: 20px 0;
	flex-grow: 1;
}
.wrapper--about {
	flex-grow: 1;
}
.wrapper--footer {
	background: var(--backing-footer);
	justify-self: flex-end;
}

.wrapper__inner {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

.l-horizontal {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

/* Nav */

.site-nav {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
	font-size: 16px;
}

.site-nav__section {
	display: flex;
	align-items: center;
	height: 70%;
	margin: 0 10px;
}
.site-nav__section ~ .site-nav__section {
	padding-left: 10px;
	border-left: 2px solid var(--border-head);
}
.site-nav--search {
	justify-content: left;
	flex: 1 0 auto;
}

.site-nav__item {
	display: block;
	padding: 3px 6px;
}

.site-nav__identity {
	padding: 0 3px;
	border: 2px solid var(--identity);
	transition: all 0.2s ease;
}
.site-nav__identity:hover {
	background: var(--identity);
	color: var(--backing-head);
}


.dropdown.notifications .dropdown-menu {
	right: -60px;
	width: 300px;
	/* Needs changing so it is not relative to user name length */
}

.dropdown.profile .dropdown-menu {
	right: -6px;
	width: 100px;
}

/* Notices */

.wrapper--notice {
	background: var(--backing-subcontent);
}

.wrapper--notice-error {
	background: var(--backing-negative);
}

.notice {
	padding: 15px 0;
	font-size: 16px;
	text-align: center;
}

/* FOOTER */

.footer {
	display: flex;
	justify-content: left;
	padding: 20px 10px;
	font-size: 16px;
}

.footer__section {
	display: flex;
	flex-flow: column nowrap;
}
.footer__section ~ .footer__section {
	margin-left: 30px;
}

.footer__section-head {
	font-weight: bold;
	color: var(--text-medium);
	padding: 0 0 6px;
}

.footer__item ~ .footer__item {
	padding-top: 6px;
}

.footer__subtext {
	font-size: 9px;
	color: var(--text-medium);
}

/* Theme Selector */

.footer__themes {
	display: flex;
	flex-flow: row nowrap;
}

/* this is rather jank. Relies on a single class for this specific behaviour, refusing to interface with .theme-preview */
.footer__theme-option ~ .footer__theme-option {
	margin-left: 8px;
}

.theme-preview {
	position: relative;
	width: 25px;
	height: 25px;
	padding: 2px;
	background: var(--border-medium);
	border-radius: var(--rounding);
	overflow: hidden;
}
.theme-preview__backing {
	width: 100%;
	height: 100%;
	background: var(--backing-page);
	border-radius: var(--rounding);
}
.theme-preview__text {
	position: absolute;
	bottom: 2px;
	left: 2px;
	color: var(--text-regular);
	font-size: 12px;
	font-weight: bold;
}

/* MODALS */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 850px;
	height: 100%;
}
.modal--hidden {
	visibility: hidden;
}

.modal__background {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	background: rgba(0,0,0,0.5);
	border: none;
}

.modal__inner {
	position: relative;
	width: 600px;
	padding: 20px;
	background: var(--backing-content);
	margin: 0 auto;
	max-height: calc(100vh - 40px);
	overflow-y: auto;
}
.modal__inner--wide {
	width: 90%;
	min-width: 850px;
	max-width: 1440px;
}

.modal__header {
	padding-bottom: 5px;
	border-bottom: 2px solid var(--text-medium);
	margin: 0 0 20px;
	font-size: 16px;
	font-weight: 600;
}

.modal__close {
	float: right;
	font-size: 12px;
}

.modal__frame {
	width: 100%;
	height: 500px;
	min-height: 80vh;
	max-height: calc(100vh - 100px);
	border: none;
}

/* DIALOG BOX */

.dialog-box {
	width: 450px;
	max-width: 100%;
	padding: 10px;
	background: var(--backing-content);
	border-radius: var(--rounding);
	margin: 10px 0;
}
.dialog-box--subcontent {
	background: var(--backing-subcontent);
}
.dialog-box--fullsize {
	width: 100%;
	text-align: center;
}

/* Search Bar */

.c-search {
	width: 100%;
}
.c-search__bar {
	display: flex;
	height: 32px;
}
.c-search__input {
	min-width: 100px;
	width: 100%;
	max-width: 450px;
	padding: 5px 10px;
	border-radius: var(--rounding) 0 0 var(--rounding);
	border-width: 2px;
	border-style: solid;
	border-color: var(--border-medium) var(--backing-input) var(--border-medium) var(--border-medium);
	background: var(--backing-input);
	color: var(--text-regular);
} .c-search__input:focus {
	border-color: var(--border-active);
}
.c-search__submit {
	height: 32px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--border-medium) var(--border-medium) var(--border-medium) var(--backing-button);
	border-radius: 0 var(--rounding) var(--rounding) 0;
}



/* USER CARDS */

.c-user-browse {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

.c-user-card {
	position: relative;
	width: 200px;
	height: 40px;
	padding-left: 40px;
	background-size: cover;
	background-position: center top;
	background-image:
		linear-gradient(to left, color-mix(in hsl, transparent, var(--backing-content)), var(--backing-content) 80%),
		var(--banner, none);
	background-color: var(--backing-content);
}
.c-user-card__text {
	padding: 6px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.c-user-card__avatar {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	object-fit: cover;
}
.c-user-card__banner {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	display: block;
	width: calc(100% - 40px);
	height: 18px;
	mask-image: linear-gradient(to top, transparent, black 6px);
	object-fit: cover;
}


.c-media-card {
	position: relative;
	display: block;
	width: 120px;
	aspect-ratio: 2/3;
	background:
		var(--cover, none) center / cover,
		var(--backing-subcontent);
	border-radius: var(--rounding);
	overflow: hidden;
}
.c-media-card__status {
	position: absolute;
	top: 4px;
	left: 4px;
}
.c-media-card__actions {
	position: absolute;
	top: 4px;
	right: 4px;
}
.c-media-card__text {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 4px;
	background: color-mix(in hsl, var(--backing-content), transparent 30%);
}



/* TABLES */

.table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.table__body-row {
	background: var(--backing-content);
}
.table__body-row:not(:first-of-type) {
	border-top: 4px solid var(--backing-page);
}
.table__body-row--spacious:not(:first-of-type) {
	border-top-width: 10px;
}
.table__body-row--highlighted {
	outline: 2px solid var(--accent-1);
}

.table__heading {
	font-weight: 600;
}

.table__subheading {
	font-size: 12px;
	font-weight: 400;
}

.table__cell {
	padding: 8px 12px;
}
.table__cell--one-half {
	width: 50%;
}
.table__cell--one-third {
	width: 33%;
}
.table__cell--small {
	width: 150px;
}
.table__cell--extra-small {
	width: 35px;
}
.table__cell--emphasized {
	padding: 12px;
	font-size: 16px;
}
.table__cell--spacious {
	padding: 8px 16px;
}
.table__cell--extra-spacious {
	padding: 16px;
}

.table__body-row-title {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}




/* Dividers */

.c-divider {
	width: 100%;
	height: 2px;
	background: var(--border-light);
	margin: 6px 0;
}




/* Dropdowns */

.dropdown {
	position: relative;
	padding: 10px 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	padding: 6px;
	background: var(--backing-content);
	border-radius: var(--rounding);
	box-shadow: 1px 2px 3px var(--shadow-5);
	opacity: 0;
	pointer-events: none;
}

.dropdown:hover .dropdown-menu {
	opacity: 1;
	pointer-events: auto;
}

/* GDPR */

.wrapper--gdpr {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--backing-content);
	box-shadow: 0 -2px 6px hsl(0, 0%, 0%, 20%);
	transition: transform 0.2s ease;
} .wrapper--gdpr.js-hidden {
	transform: translateY(100%);
}

.gdpr {
	min-height: 80px;
	padding: 12px;
}

.gdpr__dialogue {
	display: block;
	font-size: 16px;
}

/* PAGE HEADER */

.content-header {
	padding-left: 8px;
	border-left: 2px solid var(--text-regular);
	margin-left: 8px;
	margin-bottom: 20px;
}

.content-header__title {
	margin: 0;
	font-size: 28px;
	text-transform: uppercase;
}

.content-header__subtitle {
	margin: 4px 0 0;
	font-size: 16px;
	font-weight: 600;
}

.content-header__breadcrumb {
	margin-bottom: 4px;
}

.content-header__banner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: var(--backing-footer);
}

/* PAGE ACTIONS */

.page-actions {
	display: flow-root;
	margin: 20px 0;
}

.page-actions__button-list {
	display: flex;
	float: left;
}

.page-actions__action ~ .page-actions__action {
	margin-left: 8px;
}

.page-actions__pagination {
	padding: 4px 8px;
	background: var(--backing-content);
	border-radius: var(--rounding);
	float: right;
	font-size: 15px;
}

/* COMMON TEMPLATES */

.l-split {
	display: flex;
	flex-flow: row nowrap;
}

.l-split__section {
	width: 50%;
	flex: 1 1 auto;
}
.l-split__section--sidebar {
	width: 180px;
	flex: 0 0 auto;
}
.l-split__section--image {
	min-width: 180px;
	max-width: min(18vw, 250px);
	flex: 1 1 auto;
}
.l-split__section--primary {
	width: 80%;
}
.l-split__section ~ .l-split__section {
	margin-left: 20px;
}

.l-split__sidebar-header {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
}

.l-split__sidebar-item {
	display: block;
}
.l-split__sidebar-item ~ .l-split__sidebar-item {
	margin-top: 6px;
}

/* USER RANK */

.user-rank {
	display: inline-block;
	padding: 3px 6px;
	background: var(--backing-subcontent);
	border-radius: var(--rounding);
	font-size: 12px;
	font-weight: 600;
}
.user-rank--vip {
	
}
.user-rank--moderator {
	
}
.user-rank--administrator {
	
}
.user-rank--owner {
	background: var(--identity);
	color: var(--backing-content);
}

/* FORMS */

.submission-form {
	margin: 20px 0;
}


.site-rank {
	display: inline-block;
	padding: 3px 6px;
	font-size: 14px;
	font-weight: normal;
	background: var(--backing-button);
	border-radius: var(--rounding);
	vertical-align: middle;
}
.site-rank--vip {
	background: rgb(162, 184, 39);
}
.site-rank--trial-moderator {
	background: rgb(168, 165, 207);
}
.site-rank--moderator {
	background: rgb(102, 95, 196);
}
.site-rank--admin {
	background: rgb(138, 32, 199);
}
.site-rank--owner {
	background: var(--identity);
}


.c-stats {
	display: flex;
	flex-flow: row wrap;
}

.c-stats__stat {
	min-width: 100px;
	width: auto;
	padding: 8px;
	flex: 1 1 auto;
}
.c-stats__stat--one-quarter {
	width: 25%;
	flex: 0 0 auto;
}

.c-stats__title {
	color: var(--text-medium);
	font-size: 13px;
	font-weight: 600;
}

.c-stats__number {
	display: block;
	font-size: 20px;
	font-weight: 600;
}



/* COLLECTIONS */

.item-fields {
	display: flex;
	flex-flow: row wrap;
}

.item-fields__field {
	padding: 0 5px 10px;
	flex: 1 1 auto;
}
.item-fields__field--date {
	width: 150px;
	flex: 0 0 auto;
}


.item-fields__divider {
	width: 100%;
}

.item-fields__header {
	display: block;
	padding: 10px 5px;
	font-size: 16px;
	font-weight: 600;
}

/* ACTIVITY */

.c-activity {
	width: 100%;
	max-width: 700px;
	padding: 12px;
}
.c-activity + .c-activity {
	border-top: 2px solid var(--border-light);
}

.c-activity__header {
	font-size: 16px;
}

.c-activity__date {
	margin-top: 4px;
	font-size: 12px;
}

.c-activity__actions {
	margin-top: 6px;
}

.c-activity__tag {
	display: inline-block;
	padding: 2px 4px;
	background: var(--backing-subcontent);
	border-radius: var(--rounding);
	font-size: 12px;
}