/*===========================================================================*\
|* STYLE GUIDE                                                               *|
|*                                                                           *|
|* GENERIC INFORMATION                                                       *|
|* This website uses BEM.                                                    *|
|* getbem.com/                                                               *|
|*                                                                           *|
|* CLASS PREFIXES:                                                           *|
|* Much of this is taken from:                                               *|
|* www.smashingmagazine.com/2016/06/                                         *|
|*   battling-bem-extended-edition-common-problems-and-how-to-avoid-them/    *|
|* -----|----------------------------------------                            *|
|* c-   | Form the backbone of an application and contain all of the         *|
|*      |   cosmetics for a standalone component.                            *|
|* l-   | Layouts with no cosmetics and purely used for structure.           *|
|* u-   | Utility classes with a single function, often using !important.    *|
|* is-  | Indicate different states that a c- component can have.            *|
|* has- | ditto                                                              *|
|* js-  | These indicate that JavaScript behavior is attached to a component.*|
|*      |   No styles should be associated.                                  *|
|* t-   | Themes that affect many cosmetic parts of other elements.          *|
\*===========================================================================*/


/* Variables */

:root {
	--rounding: 3px;
	--shadow-10: rgba(0,0,0);
	--shadow-7: rgba(0,0,0,0.7);
	--shadow-5: rgba(0,0,0,0.5);
	--shadow-3: rgba(0,0,0,0.3);
	--shadow-1: rgba(0,0,0,0.1);
	
	--identity: hsl(0, 57%, 50%);
}

.t-dark {
	--backing-page: hsl(0, 10%, 11%);
	--backing-head: hsl(0, 30%, 5%);
	--backing-footer: hsl(0, 10%, 7%);
	--backing-content: hsl(0, 10%, 17%);
	--backing-subcontent: hsl(0, 10%, 7%);
	--backing-button:  hsl(0, 10%, 21%);
	--backing-negative:  rgb(90, 25, 25);
	--backing-input: hsl(0, 30%, 15%);

	--border-light: hsl(0, 10%, 20%);
	--border-medium: hsl(0, 7%, 30%);
	--border-head: hsl(0, 90%, 20%);
	--border-active: hsl(0, 39%, 44%);
	
	--text-regular: hsl(0, 0%, 75%);
	--text-medium: hsl(0, 0%, 69%);
	--text-light: hsl(0, 0%, 60%);
	--text-active: var(--accent-1);
	
	--accent-1: hsl(0, 100%, 60%);
	--accent-pastel: hsl(0, 72%, 76%);
}

.t-light {
	--backing-page: hsl(0, 0%, 94%);
	--backing-head: hsl(0, 0%, 100%);
	--backing-footer: hsl(0, 0%, 88%);
	--backing-content: hsl(0, 0%, 100%);
	--backing-subcontent: hsl(0, 0%, 88%);
	--backing-button: hsl(0, 0%, 88%);
	--backing-negative: hsl(0, 92%, 60%);
	--backing-input: hsl(0, 30%, 97%);
	
	--border-light: hsl(0, 0%, 90%);
	--border-medium: hsl(0, 0%, 80%);
	--border-head: hsl(0, 30%, 97%);
	--border-active: var(--accent-1);
	
	--text-regular: hsl(0, 0%, 5%);
	--text-medium: hsl(0, 0%, 25%);
	--text-light: hsl(0, 0%, 40%);
	--text-active: var(--accent-1);
	
	--accent-1: hsl(0, 100%, 60%);
	--accent-pastel: hsl(0, 30%, 70%);
}

.t-blackout {
	--backing-page: #000;
	--text-regular: #fff;
}

.t-contrast {
	--backing-page: #fff;
	--text-regular: #000;
}

/* GLOBALS */
/* Yes, I am using !important. Sue me */

.global__accessibility-text {
	font-size: 0 !important;
}

.global__display-none {
	display: none !important;
}

.u-readable-line-height {
	line-height: 1.35;
}

/* Generic Items */

html {
	box-sizing: border-box;
} *, *:before, *:after {
	box-sizing: inherit;
}

* {
	scrollbar-color: var(--accent-pastel) var(--backing-content);
}

a {
	color: var(--text-regular);
	text-decoration: none;
	transition: color 0.08s ease;
	cursor: pointer;
} a:hover {
	color: var(--text-active);
	text-decoration: none;
}

.u-bold {
	font-weight: 600 !important;
}

.u-text-center {
	text-align: center !important;
}

.long-text {
	margin: 0;
	line-height: 1.35;
}
.long-text__link,
.long-text__link:hover {
	text-decoration: underline;
}


.button-list {
	display: flex;
	flex-flow: row wrap;
}
.button-list__button + .button-list__button {
	margin-left: 5px;
}


.button {
	display: block;
	background: var(--backing-button);
	padding: 4px 8px;
	border: none;
	border-radius: var(--rounding);
	color: var(--text-regular);
	font-size: 15px;
	cursor: pointer;
	transition: opacity 0.1s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.button:hover {
	color: var(--text-regular);
	opacity: 0.7;
}
.button--small {
	padding: 3px 6px;
	font-size: 12px;
}
.button--medium {
	padding: 6px 12px;
	font-size: 17px;
}
.button--large {
	padding: 8px 16px;
	font-size: 18px;
	font-weight: 600;
}
.button--calltoaction, .button--calltoaction:hover {
	background: var(--accent-1);
	color: var(--backing-content);
}
.button--negative {
	background: var(--backing-negative);
}
.button--disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
	/*overriding browser styles*/
	color: var(--text-regular); 
}
.button--spaced {
	margin: 16px 0 4px;
}



/* FORMS */

.label {
	display: block;
	margin: 5px 0;
	color: var(--text-medium);
	font-size: 14px;
	font-weight: 600;
}
.label ~ .label {
	margin-top: 16px;
}

.label__desc {
	font-size: 12px;
}

.text-input {
	display: block;
	width: 100%;
	max-width: 100%;
	min-height: 4em;
	padding: 5px;
	background-color: var(--backing-subcontent);
	border: 1px solid var(--border-light);
	border-radius: var(--rounding);
	color: var(--text-regular);
	resize: none;
}
.text-input--resizable {
	resize: both;
}
.text-input--resizable-h {
	resize: horizontal;
}
.text-input--resizable-v {
	resize: vertical;
}
.text-input:focus {
	border-color: var(--border-active);
	outline: none;
}

.select {
	display: block;
	min-width: 100px;
	max-width: 100%;
	height: 24px;
	background-color: var(--backing-subcontent);
	border: 1px solid var(--border-light);
	border-radius: var(--rounding);
	margin: 5px 0;
	color: var(--text);
}
.select:focus {
	border-color: var(--border-active);
	outline: none;
}

.input {
	display: block;
	width: 250px;
	max-width: 100%;
	height: 24px;
	padding: 5px;
	background-color: var(--backing-subcontent);
	border: 1px solid var(--border-light);
	border-radius: var(--rounding);
	margin: 5px 0;
	color: var(--text-regular);
}
.input--thin {
	width: 100px;
}
.input--auto {
	width: auto;
}
.input--wide {
	width: 400px;
}
.input:focus {
	border-color: var(--border-active);
	outline: none;
}

.checkbox-group {
}

.checkbox-group__item {
	display: block;
}

.subtext {
	font-size: 12px;
}

/* Containers */

html {
	position: relative;
	height: 100%;
	color: var(--text-regular);
	font: 14px/1 Montserrat, Arial, sans-serif;
}

.page {
	display: flex;
	flex-flow: column nowrap;
	min-width: 600px;
	min-height: 100%;
	background: var(--backing-page);
	padding: 70px 0 0;
	margin: 0;
}
.page--frame {
	background: none;
	padding-top: 0;
}

.wrapper {
	position: relative;
	width: 100%;
	min-width: 850px;
}
.wrapper--site-nav {
	position: fixed;
	top: 0;
	z-index: 100;
	height: 70px;
	background: var(--backing-head);
	transition: height 0.2s cubic-bezier(.17,.67,.56,.99);
}
.wrapper--site-nav.js-fixed {
	height: 52px;
}
.wrapper--content {
	padding: 20px 0;
	flex-grow: 1;
}
.wrapper--about {
	flex-grow: 1;
}
.wrapper--footer {
	background: var(--backing-footer);
	justify-self: flex-end;
}

.wrapper__inner {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

/* Nav */

.site-nav {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
	font-size: 16px;
}

.site-nav__section {
	display: flex;
	align-items: center;
	height: 70%;
	margin: 0 10px;
}
.site-nav__section ~ .site-nav__section {
	padding-left: 10px;
	border-left: 2px solid var(--border-head);
}
.site-nav--search {
	justify-content: left;
	flex: 1 0 auto;
}

.site-nav__item {
	padding: 3px 6px;
}

.site-nav__identity {
	padding: 0 3px;
	border: 2px solid var(--identity);
	transition: all 0.2s ease;
}
.site-nav__identity:hover {
	background: var(--identity);
	color: var(--backing-head);
}


.dropdown.notifications .dropdown-menu {
	right: -60px;
	width: 300px;
	/* Needs changing so it is not relative to user name length */
}

.dropdown.profile .dropdown-menu {
	right: -6px;
	width: 100px;
}

/* Notices */

.wrapper--notice {
	background: var(--backing-subcontent);
}

.wrapper--notice-error {
	background: var(--backing-negative);
}

.notice {
	padding: 15px 0;
	font-size: 16px;
	text-align: center;
}

/* FOOTER */

.footer {
	display: flex;
	justify-content: left;
	padding: 20px 10px;
	font-size: 16px;
}

.footer__section {
	display: flex;
	flex-flow: column nowrap;
}
.footer__section ~ .footer__section {
	margin-left: 30px;
}

.footer__section-head {
	font-weight: bold;
	color: var(--text-medium);
	padding: 0 0 6px;
}

.footer__item ~ .footer__item {
	padding-top: 6px;
}

.footer__subtext {
	font-size: 9px;
	color: var(--text-medium);
}

/* Theme Selector */

.footer__themes {
	display: flex;
	flex-flow: row nowrap;
}

/* this is rather jank. Relies on a single class for this specific behaviour, refusing to interface with .theme-preview */
.footer__theme-option ~ .footer__theme-option {
	margin-left: 8px;
}

.theme-preview {
	position: relative;
	width: 25px;
	height: 25px;
	padding: 2px;
	background: var(--border-medium);
	border-radius: var(--rounding);
	overflow: hidden;
}
.theme-preview__backing {
	width: 100%;
	height: 100%;
	background: var(--backing-page);
	border-radius: var(--rounding);
}
.theme-preview__text {
	position: absolute;
	bottom: 2px;
	left: 2px;
	color: var(--text-regular);
	font-size: 12px;
	font-weight: bold;
}

/* MODALS */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 850px;
	height: 100%;
}
.modal--hidden {
	visibility: hidden;
}

.modal__background {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	background: rgba(0,0,0,0.5);
	border: none;
}

.modal__inner {
	position: relative;
	width: 600px;
	padding: 20px;
	background: var(--backing-content);
	margin: 0 auto;
	max-height: calc(100vh - 40px);
	overflow-y: auto;
}
.modal__inner--wide {
	width: 90%;
	min-width: 850px;
	max-width: 1440px;
}

.modal__header {
	padding-bottom: 5px;
	border-bottom: 2px solid var(--text-medium);
	margin: 0 0 20px;
	font-size: 16px;
	font-weight: 600;
}

.modal__close {
	float: right;
	font-size: 12px;
}

.modal__frame {
	width: 100%;
	height: 500px;
	min-height: 80vh;
	max-height: calc(100vh - 100px);
	border: none;
}

/* DIALOG BOX */

.dialog-box {
	width: 450px;
	max-width: 100%;
	padding: 10px;
	background: var(--backing-content);
	border-radius: var(--rounding);
	margin: 10px 0;
}
.dialog-box--subcontent {
	background: var(--backing-subcontent);
}
.dialog-box--fullsize {
	width: 100%;
	text-align: center;
}

/* Search Bar */

.search-bar {
	min-width: 100px;
	width: 100%;
	max-width: 450px;
	height: 32px;
	padding: 5px 10px;
	border-radius: var(--rounding);
	border: 2px solid var(--backing-input);
	background: var(--backing-input);
	color: var(--text-regular);
} .search-bar:focus {
	border-color: var(--border-active);
}



/* TABLES */

.table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

/* .table__head-row {

} */

.table__body-row {
	background: var(--backing-content);
}
.table__body-row:not(:first-of-type) {
	border-top: 4px solid var(--backing-page);
}
.table__body-row--spacious:not(:first-of-type) {
	border-top-width: 10px;
}
.table__body-row--highlighted {
	outline: 2px solid var(--accent-1);
}

.table__heading {
	font-weight: 600;
}

.table__subheading {
	font-size: 12px;
	font-weight: 400;
}

.table__cell {
	padding: 8px 12px;
}
.table__cell--one-half {
	width: 50%;
}
.table__cell--one-third {
	width: 33%;
}
.table__cell--small {
	width: 150px;
}
.table__cell--extra-small {
	width: 35px;
}
.table__cell--emphasized {
	padding: 12px;
	font-size: 16px;
}
.table__cell--spacious {
	padding: 8px 16px;
}
.table__cell--extra-spacious {
	padding: 16px;
}

.table__body-row-title {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}




/* Dividers */

.c-divider {
	width: 100%;
	height: 2px;
	background: var(--border-light);
	margin: 6px 0;
}




/* Dropdowns */

.dropdown {
	position: relative;
	padding: 10px 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	padding: 6px;
	background: var(--backing-content);
	border-radius: var(--rounding);
	box-shadow: 1px 2px 3px var(--shadow-5);
	opacity: 0;
	pointer-events: none;
}

.dropdown:hover .dropdown-menu {
	opacity: 1;
	pointer-events: auto;
}

/* GDPR */

.wrapper--gdpr {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--backing-content);
	box-shadow: 0 -2px 6px hsl(0, 0%, 0%, 20%);
	transition: transform 0.2s ease;
} .wrapper--gdpr.js-hidden {
	transform: translateY(100%);
}

.gdpr {
	min-height: 80px;
	padding: 12px;
}

.gdpr__dialogue {
	display: block;
	font-size: 16px;
}

/* BANNER */

.banner {
	position: relative;
	background: var(--backing-content);
}
.banner--palette-1 {
	--color-1: 0, 0%, 6%;
	--color-2: 0, 0%, 94%;
}
.banner--palette-2 {
	--color-1: 0, 80%, 30%;
	--color-2: 90, 100%, 80%;
}
.banner--palette-3 {
	--color-1: 213, 96%, 11%;
	--color-2: 212, 17%, 33%;
}
.banner--palette-4 {
	--color-1: 213, 96%, 11%;
	--color-2: 212, 17%, 33%;
}
.banner--palette-5 {
	--color-1: 202, 95%, 41%;
	--color-2: 28, 100%, 89%;
}
.banner--pattern-plaid {
	--size: 25px;
	--opacity: 0.13;
	background-image:
		repeating-linear-gradient(
			45deg,
			hsla(var(--color-1), var(--opacity)) 0px,
			hsla(var(--color-1), var(--opacity)) var(--size),
			hsla(var(--color-2), var(--opacity)) var(--size),
			hsla(var(--color-2), var(--opacity)) calc(var(--size) * 2)
		),
		repeating-linear-gradient(
			135deg,
			hsla(var(--color-1), var(--opacity)) 0px,
			hsla(var(--color-1), var(--opacity)) var(--size),
			hsla(var(--color-2), var(--opacity)) var(--size),
			hsla(var(--color-2), var(--opacity)) calc(var(--size) * 2)
		);
}
/* ugly
.banner--pattern-squares {
	--size: 20px;
	background-color: var(--color-2);
	background-image:
		repeating-linear-gradient(
			0deg,
			hsla(var(--color-1), 100%) 0px,
			hsla(var(--color-1), 100%) calc(var(--size) * 0.7),
			hsla(var(--color-1), 0%) calc(var(--size) * 0.7),
			hsla(var(--color-1), 0%) calc(var(--size) * 1.3),
			hsla(var(--color-1), 100%) calc(var(--size) * 1.3),
			hsla(var(--color-1), 100%) var(--size)
		),
		repeating-linear-gradient(
			90deg,
			hsla(var(--color-1), 100%) 0px,
			hsla(var(--color-1), 100%) calc(var(--size) * 0.7),
			hsla(var(--color-1), 0%) calc(var(--size) * 0.7),
			hsla(var(--color-1), 0%) calc(var(--size) * 1.3),
			hsla(var(--color-1), 100%) calc(var(--size) * 1.3),
			hsla(var(--color-1), 100%) var(--size)
		);
} */
.banner--pattern-stripes-left {
	--size: 30px;
	--opacity: 0.3;
	background-color: hsla(var(--color-2), var(--opacity));
	background-image:
		repeating-linear-gradient(
			45deg,
			hsla(var(--color-1), var(--opacity)) 0px,
			hsla(var(--color-1), var(--opacity)) var(--size),
			hsla(var(--color-2), var(--opacity)) var(--size),
			hsla(var(--color-2), var(--opacity)) calc(var(--size) * 2)
		);
}
.banner--pattern-stripes-right {
	--size: 30px;
	--opacity: 0.3;
	background-color: hsla(var(--color-2), var(--opacity));
	background-image:
		repeating-linear-gradient(
			135deg,
			hsla(var(--color-1), var(--opacity)) 0px,
			hsla(var(--color-1), var(--opacity)) var(--size),
			hsla(var(--color-2), var(--opacity)) var(--size),
			hsla(var(--color-2), var(--opacity)) calc(var(--size) * 2)
		);
}
.banner--pattern-diamonds {
	--opacity: 0.2;
	background-color: hsla(var(--color-2), var(--opacity));
	background-image:
		repeating-linear-gradient(60deg, hsla(var(--color-1), var(--opacity)) 25%, transparent 25%, transparent 75%, hsla(var(--color-1), var(--opacity)) 75%, hsla(var(--color-1), var(--opacity))),
		repeating-linear-gradient(120deg, hsla(var(--color-1), var(--opacity)) 25%, transparent 25%, transparent 75%, hsla(var(--color-1), var(--opacity)) 75%, hsla(var(--color-1), var(--opacity)));
	background-size: 70px 120px;
}
.banner--pattern-half-square {
	--opacity: 0.13;
	background-image:
		repeating-linear-gradient(
			45deg,
			hsla(var(--color-1), var(--opacity)) 0%,
			hsla(var(--color-1), var(--opacity)) 50%,
			hsla(var(--color-2), var(--opacity)) 50%,
			hsla(var(--color-2), var(--opacity)) 100%
		);
	background-size: 50px 50px;
}

.banner::after {
	content: "";
	background-image: linear-gradient(to top, var(--backing-page), transparent);
	display: block;
	width: 100%;
	height: 100px;
	margin-top: -100px;
}

.banner__contents {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	min-height: 300px;
}

/* PAGE HEADER */

.content-header {
	padding-left: 8px;
	border-left: 2px solid var(--text-regular);
	margin-left: 8px;
	margin-bottom: 20px;
}

.content-header__title {
	margin: 0;
	font-size: 28px;
	text-transform: uppercase;
}

.content-header__subtitle {
	margin: 4px 0 0;
	font-size: 16px;
	font-weight: 600;
}

.content-header__breadcrumb {
	margin-bottom: 4px;
}

.content-header__banner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: var(--backing-footer);
}

/* PAGE ACTIONS */

.page-actions {
	display: flow-root;
	margin: 20px 0;
}

.page-actions__button-list {
	display: flex;
	float: left;
}

.page-actions__action ~ .page-actions__action {
	margin-left: 8px;
}

.page-actions__pagination {
	padding: 4px 8px;
	background: var(--backing-content);
	border-radius: var(--rounding);
	float: right;
	font-size: 15px;
}

/* COMMON TEMPLATES */

.split {
	display: flex;
	flex-flow: row nowrap;
}

.split__section {
	width: 50%;
	padding: 20px;
	background: var(--backing-content);
	flex: 1 1 auto;
}
.split__section--sidebar {
	width: 180px;
	flex: 0 0 auto;
}
.split__section--primary {
	width: 80%;
}
.split__section ~ .split__section {
	margin-left: 20px;
}

.split__sidebar-header {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
}

.split__sidebar-item {
	display: block;
}
.split__sidebar-item ~ .split__sidebar-item {
	margin-top: 6px;
}

/* USER RANK */

.user-rank {
	display: inline-block;
	padding: 3px 6px;
	background: var(--backing-subcontent);
	border-radius: var(--rounding);
	font-size: 12px;
	font-weight: 600;
}
.user-rank--vip {
	
}
.user-rank--moderator {
	
}
.user-rank--administrator {
	
}
.user-rank--owner {
	background: var(--identity);
	color: var(--backing-content);
}

/* FORMS */

.submission-form {
	margin: 20px 0;
}

/* FORUM */



.forum-boards__board-title {
	font-size: 18px;
	font-weight: 600;
}

.c-forum__thread-description {
	margin: 6px 0 0;
}

.c-forum__board-description {
	margin: 8px 0 0;
}

.c-forum__aside-item ~ .c-forum__aside-item {
	margin-top: 8px;
}

.c-forum__aside-description {
	margin-top: 3px;
	font-size: 12px;
}


.thread-reply {
	display: flex;
	padding: 10px;
	background: var(--backing-content);
	justify-content: left;
} .thread-reply ~ .thread-reply {
	border-top: 2px solid var(--border-light);
}

.thread-reply__deleted {
	font-size: 12px;
	font-style: italic;
}

.thread-reply__info {
	width: 20%;
	padding-right: 10px;
	border-right: 2px solid var(--border-light);
	flex: 0 0 auto;
}
.thread-reply__username {
	display: block;
	margin-bottom: 6px;
	font-weight: 600;
}
.thread-reply__info-line:not(:last-of-type) {
	display: block;
	margin-bottom: 6px;
}

.thread-reply__content {
	padding-left: 10px;
	flex: 1 1 auto;
}

.thread-reply__text {
	margin: 0;
}

.thread-reply__edit-body {
	width: 66%;
	resize: vertical;
}

.thread-reply__actions {
	display: flex;
	margin: 6px 0 0;
}

.thread-reply__action ~ .thread-reply__action {
	margin-left: 8px;
}

.site-rank {
	display: inline-block;
	padding: 3px 6px;
	font-size: 14px;
	font-weight: normal;
	background: var(--backing-button);
	border-radius: var(--rounding);
	vertical-align: middle;
}
.site-rank--vip {
	background: rgb(162, 184, 39);
}
.site-rank--trial-moderator {
	background: rgb(168, 165, 207);
}
.site-rank--moderator {
	background: rgb(102, 95, 196);
}
.site-rank--admin {
	background: rgb(138, 32, 199);
}
.site-rank--owner {
	background: var(--identity);
}


.c-stats {
	display: flex;
	flex-flow: row wrap;
}

.c-stats__stat {
	min-width: 100px;
	width: auto;
	padding: 8px;
	flex: 1 1 auto;
}
.c-stats__stat--one-quarter {
	width: 25%;
	flex: 0 0 auto;
}

.c-stats__title {
	color: var(--text-medium);
	font-size: 13px;
	font-weight: 600;
}

.c-stats__number {
	display: block;
	font-size: 20px;
	font-weight: 600;
}



/* COLLECTIONS */

.item-fields {
	display: flex;
	flex-flow: row wrap;
}

.item-fields__field {
	padding: 0 5px 10px;
	flex: 1 1 auto;
}
.item-fields__field--date {
	width: 150px;
	flex: 0 0 auto;
}


.item-fields__divider {
	width: 100%;
}

.item-fields__header {
	display: block;
	padding: 10px 5px;
	font-size: 16px;
	font-weight: 600;
}

/* ACTIVITY */

.c-activity {
	width: 100%;
	max-width: 700px;
	padding: 12px;
}
.c-activity + .c-activity {
	border-top: 2px solid var(--border-light);
}

.c-activity__header {
	font-size: 16px;
}

.c-activity__date {
	margin-top: 4px;
	font-size: 12px;
}

.c-activity__body {
	margin-top: 10px;
}

.c-activity__actions {
	margin-top: 6px;
}

.c-activity__tag {
	display: inline-block;
	padding: 2px 4px;
	background: var(--backing-subcontent);
	border-radius: var(--rounding);
	font-size: 12px;
}

/* SETTINGS */

.settings {
	
}

.settings__header {
	margin: 0 0 10px;
	font-size: 16px;
	font-weight: 600;
}
.settings__header ~ .settings__header {
	margin-top: 20px;
}

.settings__label {
	display: block;
	margin: 16px 0 4px;
	color: var(--text-medium);
	font-size: 14px;
	font-weight: 600;
}
.settings__input {
	display: block;
	width: 100%;
	padding: 5px;
	margin: 5px 0;
	background: var(--backing-subcontent);
	border-radius: var(--rounding);
	border: 1px solid var(--border-light);
	color: var(--text);
}
.settings__input:focus {
	border-color: var(--border-active);
	outline: none;
}
.settings__subtext {
	font-size: 12px;
}
.settings__notice {
	display: block;
	padding: 10px;
	border: 1px solid var(--border-light);
	margin: 10px 0;
	width: max-content;
}
.settings__notice::before {
	content: "?";
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid var(--text-regular);
	border-radius: 50%;
	margin-right: 5px;
	line-height: 1.5em;
	font-weight: 600;
	text-align: center;
}

.settings__button-list {
	display: flex;
	margin: 10px 0;
}
.settings__button + .settings__button {
	margin-left: 8px;
}

.active-sessions {
	width: 100%;
	border: 2px solid var(--border-light);
	border-collapse: collapse;
}

.active-sessions__row {
	
}

.active-sessions__cell {
	padding: 6px;
	border: 2px solid var(--border-light);
	text-align: left;
}
.active-sessions__cell--header {
	font-weight: 400;
}
.active-sessions__cell--content {
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
}