.replies {
	background: var(--backing-1);
}

.reply {
	display: flex;
	padding: 16px 16px 8px;
	justify-content: left;
} .reply + .reply {
	border-top: 2px solid var(--border);
}

.reply-info {
	width: 20%;
}